body{
    background-color:#fcaebf;
}
.hair {
            width: 120px;
            height: 200px;
            background: #2b1b17;
            border-radius: 60px;
            position: absolute;
            top: -20px;
            z-index: 1;
        }
.head {
            width: 90px;
            height: 90px;
            background: #f4c7ab;
            border-radius: 50%;
            position: relative;
            z-index: 2;
        }
.eye {
            width: 8px;
            height: 8px;
            background: black;
            border-radius: 50%;
            position: absolute;
            top: 35px;
        }
        .eye.left { left: 25px; }
        .eye.right { right: 25px; }

        .mouth {
            width: 24px;
            height: 12px;
            border-bottom: 3px solid #a94442;
            border-radius: 0 0 50px 50px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        /* Neck */
        .neck {
            width: 18px;
            height: 20px;
            background: #f4c7ab;
            z-index: 2;
        }

        /* Long Dress */
        .dress {
            width: 150px;
            height: 260px;
            background: #e75d7c;
            border-radius: 20px 20px 80px 80px;
        }